[submodule "submodule/oneTBB"]
	path = submodule/oneTBB
	url = https://github.com/oneapi-src/oneTBB.git
[submodule "submodule/concurrentqueue"]
	path = submodule/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "submodule/libgo"]
	path = submodule/libgo
	url = https://github.com/yyzybb537/libgo.git
[submodule "rmq/rabbitmq-c"]
	path = rmq/rabbitmq-c
	url = https://github.com/alanxz/rabbitmq-c.git
